// Global styles goes here
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: $font-family-base;
}

// helper class
.d-flex{
  display: flex;
}
.align-items-center{
  text-align: center;
}
.justify-content-center{
  justify-content: center;
}
.justify-content-space-between{
  justify-content: space-between;
}
.pe-10{
  padding-right: 10px;
}